.furnatureSection{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.cardItem{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.buyButton:focus{
    background-color: var(--blue-gray);
    border-color: var(--blue-gray);
    box-shadow: none;
}
